$primaryColor: #231f20;
$hoverColor: #000000;
$white:white;
$gray:gray;
$global-padding:10px;
$global-margin: 20px;
$global-border-radius: 10px;
$globalBorder: 4px solid $primaryColor;
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:#cccccc;
    margin: 0;
  }
h1 {
  font-size:40px;
  text-align:center;
  }
#app {
  display: flex;
  flex-wrap: wrap;
}
.quad {
  height: 50vh;
  width: 50vw;
  border: $globalBorder;
  border-collapse: collapse;
  box-sizing: border-box;
  padding: $global-padding;
}
.selection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: $global-padding;
  margin: $global-margin;
}
.icon{
  pointer-events:none;
}
button {
  height: 70px;
  width: 70px;
  background-color: $primaryColor;
  border: none;
  color: $white;
  padding:$global-padding;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: $global-border-radius;
  margin: $global-margin;
  &:hover {
    background-color:$hoverColor;
    color:$gray;
  }
    
}

.meter { 
	height: 30px;
	position: relative;
  background:$gray;
  p {
    color:$white;
    margin:0;
    position: absolute;
    top:3px;
    left: 48%;
    z-index: 999;
  }
  span {
    display: block;
    height: 100%;
    background-color: $primaryColor;
    position: relative;
    overflow: hidden;
  }
  #fullMeter {
    width: 50%;
  }
  #funMeter {
    width: 50%;
  }
  #strengthMeter {
    width: 100%;
  }
}
